<html>
    <head>
        <meta name="decorator" content="atl.general"/>
        $webResourceManager.requireResource("example.dedas.jira.demo:demo-resources")
    </head>

    <body>

    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large aui-avatar-project">
                <span class="aui-avatar-inner">
                    <img alt="Atlassian logo" src="images/avatar-64.png">
                </span>
            </span>
            </div>
            <div class="aui-page-header-main">
                <ol class="aui-nav aui-nav-breadcrumbs">
                    <li><a href="http://example.com/">Breadcrumbs</a></li>
                    <li><a href="http://example.com/" class="custom">Sub-page</a></li>
                    <li class="aui-nav-selected">Direct parent page</li>
                </ol>
                <h1>Configuration Page</h1>
            </div>
            <div class="aui-page-header-actions">
                <div class="aui-buttons">
                    <button class="aui-button aui-button-light">Light button</button>
                    <button class="aui-button aui-button-light">Light button</button>
                    <button class="aui-button aui-button-light">Light button</button>
                </div>
            </div>
        </div>
    </header>

    <div id="demo-wrapper">
        <form class="aui" action="" method="post">
            <div class="field-group">
                <label for="info-count">Due Date Info Count</label>
                <input class="text" type="text" id="info-count" name="due-date-info-count" title="Text input">
            </div>
            <div class="field-group">
                <label for="warning-count">Due Date Warning Count</label>
                <input class="text" type="text" id="warning-count" name="due-date-warning-count" title="Text input">
            </div>
            <div class="field-group">
                <label for="alert-count">Due Date Alert Count</label>
                <input class="text" type="text" id="alert-count" name="due-date-alert-count" title="Text input">
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <input class="button submit" type="submit" value="Save" id="comment-save-button">
                </div>
            </div>
        </form>
    </div>

    </body>
</html>